@tailwind base;
@tailwind components;
@tailwind utilities;

/* 가로 스크롤바 숨기기 유틸리티 추가 */
.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}
.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera */
}